/* COLOR VARIABLES */

:root {
    --green-bg: #00a884;
    --lightgrey-bg: #d2d9d7;
    --mid-gray: rgba(234, 234, 234, 1);
    --dark-gray: #111b21;
    --light-gray: #2a3942;
    --icon-gray: rgba(177, 177, 177, 1);
    --chat-green: #005c4b;
    --blue: #53bdeb;
    --white: #ffffff;

}

/* GENERAL*/

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 2px dashed turquoise;
}

img {
    width: 100%;
}

#app {
    width: 100%;
    background-image: linear-gradient(180deg, var(--green-bg) 15%, var(--lightgrey-bg) 15%);
}

#app-container {
    width: 80%;
    height: 90%;
    background-color: var(--mid-gray);
}

#side-contacts {
    height: 100%;
    width: 35%;
}

#user-account,
#co-user-account {
    width: 100%;
    height: 5rem;
    background-color: var();
}

#user-account i,
#co-user-account i {
    color: var(--icon-gray);
    margin-right: 1rem;
}

.avatar {
    width: 3rem;
    aspect-ratio: 1 / 1;
}

.avatar img {
    border-radius: 50%;
    cursor: pointer;
}

#main-chat-space {
    height: 100%;
    width: 65%
}